* {
  box-sizing: border-box;
}
html,
body {
  font-size: 15px;
  text-align: center;
}
.flex {
  display: flex;
}
.mr-30 {
  margin-right: 30px;
}
.overflow-x {
  overflow-x: auto;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-basic {
  flex: 0 1 33.33%;
  color: white;
}
.bg-black {
  background-color: black;
}
