* {
  box-sizing: border-box;
}
html,
body {
  font-size: 15px;
  text-align: center;
}
.flex {
  display: flex;
}
.mr-30 {
  margin-right: 30px;
}
.overflow-x {
  overflow-x: auto;
}
.flex-basic {
  flex: 0 1 33.33%;
  color: white;
}
.brand-bg {
  background-color: #d03f3f;
}
.form-input {
  width: 60%;
  padding: 7px;
}
.form-btn {
  background-color: #fc5130;
  color: white;
  padding: 9px 10px;
  min-width: 15%;
  border: none;
}
.showcase-daily {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  margin-top: 15px;
}
.showcase-daily-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.showcase-misc {
  display: flex;
  flex-wrap: wrap;
  background-color: #d03f3f;
  margin-top: 10px;
}
